
.logo-Box{
  background-color: white;
  padding-bottom: 12px;
  padding-top: 7px;
  padding-left: 8px;
}

.nav-first{
  padding-left: 4px;
  font-size: 17px;
  text-decoration: none;
  color: rgb(250, 11, 11);
}

.nav-first:hover{
  text-decoration: underline;
  color: rgb(51, 51, 47);
}

.nav-second{
  padding-left: 45px;
  margin-bottom: 14px;
  padding-bottom: 9px;
  font-size: 18px;
  margin-left: 24px;
  text-decoration: none;
  color: rgb(250, 11, 11); 
}


.nav-second:hover{
  text-decoration: underline;
  color: blue;
  
}

.nav-third{
  margin-left: 394px;
  font-size: 15px;
  text-decoration: none;
  color: blue;

}
.nav-third:hover{
  text-decoration: underline;
  color: rgb(231, 90, 14);
}

.tryforfree{
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 0rem;
  background-color: #e9f502; 
  font-weight: bold;
  border: 10px; 
  cursor: pointer;
  margin-right: 0%;
  margin-left: 25px;


}
.tryforfree:hover{
  color: red;
}

